body {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #D9E8F5;
}

#flashycardsLogo {
    height: 35px;
    width: 35px;
}

nav {
    font-family: "Lato", sans-serif;
    background-color: #003354;
}

.nav-link, .navbar-brand {
    color: #FFFFFF;
}

.nav-link:hover, .navbar-brand:hover, .button:hover {
    font-weight: 900;
    color: #8EC7D2;
    transition: transform .3s ease-in-out;
}

.navbar-toggler {
    color: #003354;
    background-color: #003354;
    border-color: #003354;
}

.navbar-toggler:hover {
    background-color: #8EC7D2;
    transition: transform .3s ease-in-out;
}

.fa-bars {
    color: #FFFFFF;
    font-size: 28px;
}

.button {
    font-family: "Lato", sans-serif;
    border: 1px solid #003354;
    border-radius: 10px;
    padding: 10px 14px;
    margin: auto;
    color: #FFFFFF;
    background-color: #003354;
    transition: all 0.3s ease-in-out;
}

.getStarted {
    font-weight: 700;
    font-size: 1.25rem;
}

.create:hover, .getStarted:hover, .save:hover, .submit:hover, .search:hover {
    transform: scale(1.1);
}

#get-started, #contact-us, #how-it-works {
    background-color: #F26101; 
    color: #FFFFFF;
}

.log-in {
    color: #F26101; 
    background-color: #FFFFFF;
    width: 18rem;
    border-color: #F26101;
}

.flashcard0 {
    border: 3px solid #003354;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

.flashcard { 
    border: 3px solid #003354;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    display: inline-block; 
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start;
}

.flashcard0:hover, .flashcard:hover {
    border-color: #F26101;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.flashcard .front, .flashcard .back {
    width: 95%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    box-sizing: border-box;
}

.flashcard .back {
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    padding: 4px;
}

.deck-name {
    color: #F26101;
}

.close:hover {
    background-color: #003254BA;
    color: #FFFFFF;
}

.create {
    height: 5rem;
    width: 5rem;
}

.create:hover, #save-btn:hover, .search:hover {
    background-color: #F26101;
    color: #FFFFFF;
}

dialog {
    border: 3px solid #003354;
    border-radius: 15px;
}

.small-button {
    height: 3rem;
    width: 3rem;
}

.edit {
    background-color: #0099FF;
}

.edit:hover {
    background-color: #0099FFBA;
    color: #FFFFFF;
}

.delete {
    background-color: #FF0000;
}

.delete:hover {
    background-color: #FF0000ba;
    color: #FFFFFF;
}

.left-right {
    position: relative;
    padding-right: 25%;
}

#save-btn, .search {
    position: absolute;
    top: 20px;
    right: 0;
}

.a {
    color: inherit;
    text-decoration: none;
}

textarea {
    field-sizing: content;
}

#return-to-homepage {
    color: #F26101;
    background-color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #F26101;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-top: 20px;
}

#return-to-homepage:hover {
    color: #FFFFFF;
    background-color: #F26101;
}

#page-not-found {
    font-size: 2rem;
    color: #555555;
}

#error404 {
    color: #F26101;
    font-size: 6rem;
    margin: 0;
}

label {
    font-style: italic;
}